:root {
  --bg-color: rgba(0, 0, 0, 0.3);
  --bg-url: url('https://user-images.githubusercontent.com/10224804/36074498-86a8b1ce-0f66-11e8-8731-176c468f1817.jpg');
  --button-hover-color: rgba(161, 11, 11, 0.3);
}

.body{
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  color: #fff;
  white-space: nowrap;
}

button {
  text-transform:uppercase;
  padding:1em 2em;
  font-size:1rem;
  font-weight:bold;
  background:transparent;
  color:#FFF;
  border: 0.2rem #FFF solid;
}

button:hover{
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
  cursor:pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  oveflow:hidden;
}

.split {
  transition:all 1s ease;
  flex:1 1 auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;

  background:
    linear-gradient(var(--bg-color),var(--bg-color)) repeat-x top / 100% 100%,
    var(--bg-url) center center no-repeat / cover;
}

.left { }

.right {
  --bg-color: rgba(0, 0, 0, 0.6);
  --bg-url:url('https://user-images.githubusercontent.com/10224804/36074598-524331b4-0f68-11e8-8801-6aa6700b7e5d.jpg');
  --button-hover-color: rgba(92, 92, 92, 0.3);
}

.split:hover{
  flex-grow:10;
}


@media(max-width:500px){
  .container{
    flex-direction:column;
  }
}
